<p class="multipleChoice">meerdere keuzes mogelijk</p>
<div class="checkbox_wrapper">
    <input type="checkbox" id="plan_wandelen_<%= rawDates[i] %>" name="plan_wandelen_<%= rawDates[i] %>">
    <label for="plan_wandelen_<%= rawDates[i] %>">
        Wandelen
        <img src="images/walking.svg" alt="icon walking">
    </label>

    <input type="checkbox" id="plan_boodschappen_<%= rawDates[i] %>" name="plan_boodschappen_<%= rawDates[i] %>">
    <label for="plan_boodschappen_<%= rawDates[i] %>">
        Boodschappen doen
        <img src="images/walking.svg" alt="icon plan_boodschappen">
    </label>

    <input type="checkbox" id="plan_stofzuigen_<%= rawDates[i] %>" name="plan_stofzuigen_<%= rawDates[i] %>">
    <label for="plan_stofzuigen_<%= rawDates[i] %>">
        Stofzuigen
        <img src="images/walking.svg" alt="icon plan_stofzuigen">
    </label>

    <input type="checkbox" id="plan_tuinieren_<%= rawDates[i] %>" name="plan_tuinieren_<%= rawDates[i] %>">
    <label for="plan_tuinieren_<%= rawDates[i] %>">
        Tuinieren
        <img src="images/walking.svg" alt="icon plan_tuinieren">
    </label>

    <input type="checkbox" id="plan_fietsen_<%= rawDates[i] %>" name="plan_fietsen_<%= rawDates[i] %>">
    <label for="plan_fietsen_<%= rawDates[i] %>">
        Fietsen
        <img src="images/walking.svg" alt="icon plan_fietsen">
    </label>

    <input type="checkbox" id="plan_oefeningen_<%= rawDates[i] %>" name="plan_oefeningen_<%= rawDates[i] %>">
    <label for="plan_oefeningen_<%= rawDates[i] %>">
        Fyso/Ergo oefeningen
        <img src="images/walking.svg" alt="icon oefeningen">
    </label>

    <input type="checkbox" id="plan_overige_<%= rawDates[i] %>" name="plan_overige_<%= rawDates[i] %>">
    <label for="plan_overige_<%= rawDates[i] %>">
        Een andere activiteit
        <img src="images/add.svg" alt="icon overige">
    </label>
</div>