<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
    <%- include('includes/header_title_overview.ejs'); %>
</header>

<main>

    <p><%=error %></p>

    Keer terug naar de <a href="/"> homepagina</a>
</main>
<footer>
    <%- include('includes/nav_bottom.ejs'); %>
</footer>

<%- include('includes/footer.ejs'); %>