<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
    <%- include('includes/header_title_activities.ejs'); %>

    <% if (user) { %>
    <a href="/logout"> logout</a>
    <% } else { %>
    <a href="/login"> login</a>
    <% } %>

</header>

<main>

    <section>
        <% for (let i = 0; i < dates.length; i++) { %>
        <article class="activities">
            <h2><%= dates[i] %></h2>
            <ul class="activities_wrapper">
                <li class="activity_overview">
                    <p>Voeg een activiteit toe</p>
                    <img src="images/add.svg" alt="icon walking">
                </li>
            </ul>
        </article>
        <% } %>
    </section>



</main>

<footer>
    <%- include('includes/nav_bottom.ejs'); %>
</footer>

<%- include('includes/footer.ejs'); %>