<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
    <%- include('includes/header_title_activities.ejs'); %>

    <% if (user) { %>
    <a href="/logout"> logout</a>
    <% } else { %>
    <a href="/login"> login</a>
    <% } %>

</header>

<main>

    <section>
        <article class="activities">
            <h2>Donderdag 6 juni</h2>
            <div class="activities_wrapper">
                <ul class="activity_overview">
                    <li>
                        <p>Voeg een activiteit toe</p>
                        <img src="images/add.svg" alt="icon walking">
                    </li>
                </ul>
            </div>
        </article>




</main>

<footer>
    <%- include('includes/nav_bottom.ejs'); %>
</footer>

<%- include('includes/footer.ejs'); %>