<%- include('includes/head.ejs'); %>


<main>
    <section class="activity_details">
        <!-- which activity  -->
        <article>
            <h2><%= foundActivity[0].activity.activity %></h2>
            <img src="images/<%= foundActivity[0].activity.activity %>_white.svg" class="icon_activity_done" alt="">
        </article>
    </section>
    <section class="feedback_activity details">
        <h3 class="feedback_activity_date_details"><%= foundActivity[0].activity.activity %></h3>
        <dl>
            <!-- start time  -->
            <article>
                <dt>Datum:</dt>
                <dd><%= foundActivity[0].activity.startDate_activity %></dd>
            </article>

            <!-- start time  -->
            <article>
                <dt>Begin tijd:</dt>
                <dd><%= foundActivity[0].activity.startTime_activity %></dd>
            </article>

            <!-- end time -->
            <article>
                <dt>Eind tijd:</dt>
                <dd><%= foundActivity[0].activity.endTime_activity %></dd>
            </article>

            <!-- duration -->
            <article>
                <dt>Duur:</dt>
                <dd><%= foundActivity[0].activity.duration %> seconden</dd>
            </article>

            <!-- behaalde score  -->
            <article>
                <dt>Punten behaald:</dt>
                <dd><%= foundActivity[0].activity.pamScore %></dd>

            </article>

        </dl>

        <!-- some info about the pam score -->
        <p>Het kan zijn dat uw behaalde punten later worden toegevoegd. Dit komt omdat het PAM aparaat eerst uw
            bewegingen moet registreren in de app.</p>
    </section>

</main>


<%- include('includes/nav_bottom.ejs'); %>

<%- include('includes/footer.ejs'); %>