<%- include('includes/head.ejs'); %>


<main>
    <section class="activity_done">

        <!-- which activity  -->
        <h2>Je heb een activiteit voltooid</h2>

        <!-- resource: https://all-free-download.com/free-vector/download/lifestyle_painting_happy_man_mountain_climbing_activities_icons_6836492_download.html  -->
        <img src="images/saved_activity.svg" alt="Man op topje van een berg, blij dat hij zijn doel heeft behaald">

    </section>
    <section class="feedback_activity">
        <h3><%= foundActivity[0].activity.activity %></h3>
        <dl>
            <!-- start time  -->
            <article>
                <dt>Begin tijd:</dt>
                <dd><%= foundActivity[0].activity.startTime_activity %></dd>
            </article>

            <!-- end time -->
            <article>
                <dt>Eind tijd:</dt>
                <dd><%= foundActivity[0].activity.endTime_activity %></dd>
            </article>

            <!-- duration -->
            <article>
                <dt>Duur:</dt>
                <dd><%= foundActivity[0].activity.duration %> seconden</dd>
            </article>

            <!-- behaalde score  -->
            <article>
                <dt>Punten behaald:</dt>
                <dd><%= foundActivity[0].activity.pamScore %></dd>
            </article>
        </dl>

        <!-- some info about the pam score -->
        <p>Het kan zijn dat uw behaalde punten later worden toegevoegd. Dit komt omdat het PAM
            aparaat eerst uw
            bewegingen moet registreren in de app.</p>

        <a href="/" class="overviewBtn">Terug naar home</a>
    </section>

</main>




<%- include('includes/footer.ejs'); %>