<%- include('includes/head.ejs'); %>

<header>
    <%- include('includes/header_logo.ejs'); %>
    <%- include('includes/header_title_overview.ejs'); %>
</header>

<main>

    <section class="dataOverview">
        <div class="scroll-container">
            <%- include('includes/daily_overview.ejs'); %>
            <%- include('includes/weekly_overview.ejs'); %>
        </div>
    </section>

    <section class="activities">
        <h2>Kies een activiteit om te starten met bewegen</h2>
        <%- include('includes/home_activities.ejs'); %>
    </section>

    <section class="activities">
        <h2>Activiteiten gedaan vandaag</h2>
        <%- include('includes/completed_activities.ejs'); %>
    </section>
</main>

<footer>
    <%- include('includes/nav_bottom.ejs'); %>
</footer>

<%- include('includes/footer.ejs'); %>