<%- include('includes/head.ejs'); %>

<section class="intro">
    <h1>Project Hipper</h1>
</section>


<section class="dataOverview">
    <div class="scroll-container">
        <%- include('includes/daily_overview.ejs'); %>
        <%- include('includes/weekly_overview.ejs'); %>
        <!-- <article class="dailyOverview overview">
            <h2>daily</h2>
        </article>
        <article class="weeklyOverview overview">
            <h2>weekly</h2>
        </article> -->
    </div>
</section>

<%- include('includes/nav_bottom.ejs'); %>
<%- include('includes/footer.ejs'); %>